<div class="container" [formGroup]="searchTasksForm">
  <mat-card class="box pending">

    <mat-form-field appearance="fill" style="width: 100%" >
      <input matInput placeholder="Search" formControlName="pendingTasksSearchField">
    </mat-form-field>

    <mat-card-header>
      <mat-card-title>
        Pending
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <ng-container *ngFor="let task of tasks | async">
        <app-card
          [id]="task.id"
          [title]="task.title" 
          [description]="task.description" 
          [createdDate]="task.createdDate" 
          [tags]="task.tags"
          [deadline]="task.deadline"
          (delete)="onTaskDeleteEvent($event)"
          (complete)="onTaskCompleteEvent($event)"
          >
        </app-card>
      </ng-container>
    </mat-card-content>
  </mat-card>

  <mat-card class="box completed">
    <mat-form-field appearance="fill" style="width: 100%">
      <input matInput placeholder="Search" formControlName="completedTasksSearchField">
    </mat-form-field>
    <mat-card-header>
      <mat-card-title>
        Completed
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <ng-container *ngFor="let task of completedTasks | async">
          <app-card
            [id]="task.id"
            [title]="task.title" 
            [description]="task.description" 
            [createdDate]="task.createdDate" 
            [tags]="task.tags"
            [deadline]="task.deadline"
            [showActions]="false"
            (delete)="onTaskDeleteEvent($event)"
            (complete)="onTaskCompleteEvent($event)"
            >
          </app-card>
        </ng-container>
    </mat-card-content>
  </mat-card>

  <mat-card class="box overdue">
    <mat-form-field appearance="fill" style="width: 100%">
      <!-- <mat-label>Search a task</mat-label> -->
      <input matInput placeholder="Search">
    </mat-form-field>
    <mat-card-header>
      <mat-card-title>
        Overdue
      </mat-card-title>
    </mat-card-header>
  </mat-card>
</div>