.container {
    margin: 0 auto;
    padding: 1%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}


.box {
    /* width: 33%; */
    flex: 1;
    margin: 2%;
    height: 70%;
    background: whitesmoke;
    /* overflow: auto; */
}

.box-card {
    margin-top: 2.5%;
    margin-bottom: 2.5%
}

.pointer {
    cursor: pointer;
}

.avatar {
    /* background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); */
    background-size: cover;
  }